:root {
}

.menu-label {
    font-size: 40px;
    -unity-font-style: bold;
    color: rgb(255, 255, 255);
}

.menu-container {
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    background-color: rgb(79, 79, 79);
}

.menu-button-container {
    flex-grow: 0;
}

.menu-button {
    width: 400px;
    font-size: 20px;
    -unity-font-style: bold;
}

.hidden {
    display: none;
}
